# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\liisa\OneDrive\Töölaud\TLÜ\II aasta\I semester\Application Programming\lessons\2021-10-04\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
