.navbar {
  background-color: lightblue;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.cart {
  height: 40px;
  margin: 40px;
}

.logo {
  height: 100px;
  margin: 10px 30px;
  display: inline-flex;
}
